.bold{
    font-weight: bold;
    font-size: 40px;
}

.descriptor{
    display: flex;
}

.descriptor input{
    margin: 0px 6px 0px 20px;
}

.logo{
    font-size: 80px;
    text-align: center;
}

.navbar{
    display: flex;
    background-color: #874E4C;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px 10px 5px;
} 